<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.AirReleaseGroup">
<listAttribute key="ASSET_DIRECTORY_LIST"/>
<listAttribute key="ASSET_FILE_LIST">
<listEntry value="bin/plow.swf &gt; plow.swf"/>
<listEntry value="bin/plow-app.xml &gt; plow-app.xml"/>
<listEntry value="bin/icon128.png &gt; icon128.png"/>
<listEntry value="bin/extensions.xml &gt; extensions.xml"/>
<listEntry value="bin/plow.xml &gt; plow.xml"/>
</listAttribute>
<stringAttribute key="CERTIFICATE_CHOOSEN" value="1"/>
<stringAttribute key="CERTIFICATE_COUNTRY" value=""/>
<booleanAttribute key="CERTIFICATE_DISABLE_TIMESTAMP" value="false"/>
<stringAttribute key="CERTIFICATE_KEY_TYPE" value="0"/>
<stringAttribute key="CERTIFICATE_NAME" value=""/>
<stringAttribute key="CERTIFICATE_O_NAME" value=""/>
<stringAttribute key="CERTIFICATE_O_UNIT" value=""/>
<stringAttribute key="CERTIFICATE_PASSWORD" value=""/>
<stringAttribute key="CERTIFICATE_PATH" value="/Users/jankees/Documents/work/Base42/software/Base 42.p12"/>
<stringAttribute key="CERTIFICATE_STORE_PASSWORD" value="3m8c49G8"/>
<stringAttribute key="DESCRIPTOR_PATH" value="bin/plow-app.xml"/>
<stringAttribute key="OUTPUT" value="bin/plow.air"/>
<stringAttribute key="PROJECT_NAME" value="Plow"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
